    
		 
		 <!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <!-- <img src="assets/pizza1.jpg" alt=""> -->
        <div class="text">
          <span class="text-1">Foodie App</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <!-- <img class="backImg" src="assests/pizza.png" alt=""> -->
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form [formGroup]="loginFormGroup">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
				
                <input type="text" formControlName="uemailid" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" formControlName="upassword" placeholder="Enter your password" required>
              </div>
            
              <div class="button input-box" >
                <button type="button" class="btn btn-secondary btn-rounded xz"  (click)="loginCheck()" [disabled]="loginFormGroup.invalid">Login</button>
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
		  
        <form [formGroup]="registerFormGroup">
            <div class="input-boxes">
				
              <div class="input-box">
                <i class="fas fa-user"></i>
			
                <input type="text" formControlName="name" placeholder="Enter your name" required >
				
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
				
                <input type="text" formControlName="emailid" placeholder="Enter your email" required (keyup)="onEmailChanged($event)">
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" formControlName="password" placeholder="Enter your password" required>
              </div>
              <div class="input-box">
                <i class="fas fa-address-card"></i>
                <input type="text"  formControlName="address" placeholder="Enter your address" required>
              </div>

              <div><span >Choose Profile Pic</span></div>
              
              
              <div class="input-box">
                
                <i class="fas fa-solid fa-image"></i>
                <input #myInput type="file"  required (change)="onFileChanged($event)">
              </div>

              <div class="button input-box"  >
                <button type="button"  class="btn btn-secondary btn-rounded xz" (click)="register()" [disabled]="registerFormGroup.invalid" >
                   SignUp
                </button> 
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip" >Login now</label></div>
            </div>
      </form> 
    </div>
    </div>
    </div>
  </div>
</body>
</html>

			  
						
                            
                        
                     
		
		  
         
