<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
<div class="container" >
    <div class="myform container">
      
      <br><br>
    <table class="table table-striped text-center">
      <thead class="table-dark">
        <tr >
          <th class="text-center">Dish Name</th> 
          <th class="text-center">Price</th> 
          <th class="text-center">Delete</th>
          
          
      </tr>
  </thead>
  <tbody>
          <tbody>
              <tr *ngFor="let user of message">
                  <td>{{user.dishName}}</td>
                  <td>{{user.price}}</td>
                 <td class="text-center"><button class="btn btn-danger" (click)="delete(user.emailid,user.dishName)">Delete</button></td>
                  
                </tr>
          </tbody>
          </table>
          </div>
  </div>
 </body>