
<!-- 
<div class="container">

    <mat-card *ngFor="let v of data" matRipple class="video-card" >
    
        <div class="img-container size">
          
            <img src="{{'data:image/jpg;base64,' + v.resImage}}" />
        </div>
        
        <h3>  
            {{v.city}} 
        </h3>
  
        
    </mat-card>
  
  </div>
  
   -->



   
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   <body>
   
      
           
           
       
   <div class="container" >
      
       <div class="shop-default shop-cards shop-tech">
         
               
               
           <div class="row" >
               <div class="col-md-4 "  *ngFor="let v of searchData">
                   <div class="block product no-border z-depth-2-top z-depth-2--hover cardhover">
                       <div class="block-image">
                           
                               <img src="{{'data:image/jpg;base64,' + v.resImage}}" style="width:100% ;" class="img-center xxx">
                               
                          
                           <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-purple text-uppercase">{{v.rating}}</span>
                       </div>
                       <div class="block-body text-center">
                           <h1 class="heading heading-5 strong-600 text-capitalize">
                               
                                   {{v.resturantName}}
                               
                           </h1>
                           <p class="product-description">{{v.emailid}}</p>
                                
                               <h3>{{v.city}}</h3>
               
                           <div class="product-buttons mt-4">
                               <div class="row align-items-center">
                                   <!-- <div class="col-2">
                                       <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                           <i class="fa fa-heart"></i>
                                       </button>
                                   </div> -->
                                   <!-- <div class="col-2">
                                       <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                           <i class="fa fa-share"></i>
                                       </button>
                                   </div> -->
                                   <div class="col-12">
                                       <button type="button" class="btn btn-block btn-primary btn-circle btn-icon-left" (click)="checkDishes(v.emailid)" >
                                           <i ></i>Check Dishes
                                       </button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
       <br><br>
               </div>
   
      
               
           </div><br><br>
       </div> 
   </div> 
     </body>
     