<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   <body>
    <div class="container" >
        <div class="myform container">
          
          <br><br>
        <table class="table table-striped text-center">
          <thead class="table-dark">
            <tr >
                <th class="text-center">Restaurant Name</th> 
              <th class="text-center">Dish Name</th> 
              <th class="text-center">Price</th> 
              <th class="text-center">Date</th>
          </tr>
      </thead>
      <tbody>
              <tbody>
                  <tr *ngFor="let user of data">
                    <td>{{user.restaurantName}}</td> 
                      <td>{{user.dishName}}</td>
                      <td>{{user.price}}</td>
                      <td>{{user.orderDate}}</td>
                     
                      
                    </tr>
              </tbody>
              </table>
              </div>
      </div>
       
   
     </body>